# Application Config
PROJECT_NAME="SentielMind"
ENV="development"
HOST="0.0.0.0"
PORT=8000

# SIEM Configuration
ELASTICSEARCH_HOST="http://localhost:9200"
ELASTICSEARCH_API_KEY=""

# LLM Provider
LLM_PROVIDER="gemini" # groq or gemini
GROQ_API_KEY=""
GEMINI_API_KEY=""
